# ignore ISO folder
iso/*.iso

# ignore output folders
output-*/*
output/*
boxes/*.box

# ignore resources folder
resources/*
answer_files/2012r2/autounattend-custom.xml
answer_files/2012r2/autounattend-Copy.xml
packer_cache/*
variables.json

# Ignore Drivers
# Allow mouse, pvscsi and vmxnet3
drivers/vmware/audio/*
drivers/vmware/efifw/*
drivers/vmware/giappdef/*
drivers/vmware/glxgi/*
drivers/vmware/hgfs/*
drivers/vmware/memctl/*
drivers/vmware/rawdsk/*
drivers/vmware/vFileFilter/*
drivers/vmware/video_wddm/*
drivers/vmware/vmci/*
drivers/vmware/vmxnet/*
drivers/vmware/vNetFilter/*
drivers/vmware/vss/*
